<script src="{{url_for('static', filename='../static/jquery.js')}}"></script>
<script src="{{url_for('static', filename='../static/typeahead.js')}}"></script>
<script src="{{url_for('static', filename='../static/the-basics.js')}}"></script>

<div id="the-basics">
  <input class="typeahead" type="text" placeholder="States of USA">
</div>

<form action="/send/" method="post">
    <input type="text" name="uid">
    <input type="submit">
</form>
{% for friend in friends %}
<p> {{ friend.name }}, {{ friend.uid }} </p>
{% endfor %}
