{% extends "layout.html" %}
{% block content %}

<style>
body {
	background-color: #57D4FF;
}
.btn:hover {
	background-color: white;
}
.btn {
  border: 2px solid transparent;
  background: red;
  color: #ffffff;
  align-self: right;
  font-size: 16px;
  line-height: 25px;
  transition: 0.25s;
  display: block;
  width: 125px;
  margin: 0 auto;
}
.logOutCol {
	position:fixed;
	right:0px;
	top:0px;
}

*[data-animation="ripple"]:focus {
  outline: none;
}

*[data-animation="ripple"]::selection {
  background: transparent;
  pointer-events: none;
}
html::-moz-selection, body::-moz-selection {
  color: #fff;
  background-color: #0a0f14;
}
html::selection, body::selection {
  color: #fff;
  background-color: #0a0f14;
}
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, option, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
ol, option {
  list-style: none;
}

html::-moz-selection, body::-moz-selection {
  color: #fff;
  background-color: #0a0f14;
}
html::selection, body::selection {
  color: #fff;
  background-color: #0a0f14;
}

#autocomplete-container {
  width: 300px;
  margin: 50px auto;
}
#autocomplete-container #autocomplete-input {
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 20px 15px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  outline: none;
  color: #FFFFFF;
  font-size: 20px;
}
#autocomplete-container #autocomplete-input:-moz-placeholder {
  color: #FFFFFF;
}
#autocomplete-container #autocomplete-input::-moz-placeholder {
  color: #FFFFFF;
}
#autocomplete-container #autocomplete-input:-ms-input-placeholder {
  color: #FFFFFF;
}
#autocomplete-container #autocomplete-input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#autocomplete-container #autocomplete-input:focus {
  background: rgba(0, 0, 0, 0.1);
}

#autocomplete-results {
  display: none;
  list-style: none;
  width: 100%;
  margin-top: -2px;
  color: #FFFFFF;
}
#autocomplete-results option {
  width: 100%;
  list-style: none;
  padding: 20px 15px;
  border-right: 2px solid rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  border-left: 2px solid rgba(255, 255, 255, 0.6);
}
#autocomplete-results option:hover {
  background: rgba(0, 0, 0, 0.1);
}
.footer {
	bottom: 0px;
	margin-bottom: 0px;
	position: absolute;
}
</style>
<body>
<div class="logOutCol" style="background-color: black;">
	<button type="button" class="btn btn-danger">Log Out</button>
</div>

<div id="autocomplete-container">  
  <input type="text" name="autofocus sample" placeholder="Search for a friend ..." id="autocomplete-input"></input>
  <select style="background-color: #57D4FF; border: 0px" id="autocomplete-results">
  </select>
  <!-- <option id="autocomplete-results">
  </option> -->
</div>

<div class="bigbox" align="center">

<form action="{{ url_for('send') }}" method="post">
    {{ form.friends }}
    <br>
    {{ form.message(rows='10',cols='80') }}
    <br>
    <br>
    <br>
    {{ form.timestamp }}
    <br>
    <br>
    <br>
    <br>
    {{ form.sendbtn }}
</form>
</div>

<script>
  console.log(friends)
	var newList = [];
	var idList = [];
	totalLength = friends.length
	for (j = 0; j < totalLength; j++) {
		idList.push(friends[j].value)
		newList.push(friends[j].text)
  }
</script>


<script>
	
	// variables
var input = document.querySelector('input');
var people = newList;
var results;

// functions
function autocomplete(val) {
  var people_return = [];

  for (i = 0; i < people.length; i++) {
    if ((val === people[i].slice(0, val.length).toLowerCase()) || (val === people[i].slice(0, val.length))) {
      people_return.push(people[i]);
    }
  }

  return people_return;
}

// events
input.onkeyup = function(e) {
  input_val = this.value; // updates the variable on each ocurrence

  if (input_val.length > 0) {
    var people_to_show = [];

    autocomplete_results = document.getElementById("autocomplete-results");
    autocomplete_results.innerHTML = '';
    people_to_show = autocomplete(input_val);
    
    for (i = 0; i < people_to_show.length; i++) {
      autocomplete_results.innerHTML += '<option>' + people_to_show[i] + '</option>';

    }
    autocomplete_results.style.display = 'block';
  } else {
    people_to_show = [];
    autocomplete_results.innerHTML = '';
  }
}
</script>

<script>
	function saveUser() {
		// console.log(document.getElementById("autocomplete-results"))
	}

</script>
</body>
<footer>
	<div style="background-color: white; bottom: 0px; position: absolute;right: 0;left: 0; padding: 1rem;text-align: center">
		<p1>Made by VNGT - @HackGt 2018</p1>
	</div>
</footer>
{% endblock %}